.container {
    margin: 80px auto;
    width: 50%;
    font-family: 'Robot';
}

.titleVt {
    text-align: center;
    margin: 40px auto;
}

.item label {
    display: block;
}

.item input {
    width: 90%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid blue;
    margin: 4px auto 20px auto;
}

.item input:focus {
    outline: 0;
}

select {
    width: 120px;
    background: white;
    border-radius: 3px;
    color: green;
    font-weight: bold;
    padding: 6px;
}

.discos {
    display: block;
    margin: 20px auto;
}

.discos__600 {
    margin: 2px 10px 2px 0;
}

.discos__4 {
    margin: 2px 10px;
}

.title__unidadefita {
    text-align: center;
}

.item__hd {
    text-align: center;
}

.item__hitoricoHd {
    display: inline-block;
}

.item__hitoricoHdSituacao {
    width: 55%
}
.item__hitoricoHdDate {
    width: 20%;
}
.item__hitoricoHdNumber {
    width: 20%;
}

.item__listUl,
.item__listSubUl {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.item__listUl li {
    margin: 2px 4px;
    padding: 0;
}

.item__listSubUl select {
    width: 70px;
}

.button__edit {
    margin: 16px auto;
    padding: 10px;
    background: green;
    color: aliceblue;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.button__edit:hover {
    color: green;
    background: aliceblue;
    cursor: pointer;
}