.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #8cb0ea;
}

.nav__items {
  display: flex;
  padding: 0;
  list-style: none;
  position: relative;
}

.logo {
    margin-right: auto;
    padding-left: 50px;
}

.search {
  margin-right: auto;
  width: 360px;
}

.search input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blue;
  background: #8cb0ea;
  color: white;
  height: 23px;
  width: 100%;
  font-size: 15px;
  padding-left: 6px;
}

.links {
    margin-right: 26px;
}

.navbar li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    color: #ccc; 
}

.list_1 {
  margin-right: 50px;
}

.list_1 ul {
    position: absolute;
    background: #8cb0ea;
    /* margin-top: 13px; */
    list-style: none;
    display: none;
    padding: 0;
    width: 90px;
    z-index: 1;
    padding: 6px 9px;
  }

  .list_1 ul li {
    margin: 13px 1px;
  }

  .list_1 ul li a {
    color: white;
  }

  .list_1:hover > ul,
  .list_1 ul:hover {
    display: block;
  }