.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #8cb0ea;
}

.navbar ul,
.navbar li {
    display: flex; 
}

.logo {
    margin-right: auto;
}

.links {
    margin-right: 26px;
}

.navbar li a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar li a:hover {
    color: #ccc; 
}

.list_1 ul {
    position: absolute;
    background: #8cb0ea;
    /* margin-top: 13px; */
    list-style: none;
    display: none;
    padding: 0;
    width: 90px;
    z-index: 1;
  }

  .list_1 ul li {
    margin: 13px 1px;
  }

  .list_1 ul li a {
    color: white;
  }

  .list_1:hover > ul,
  .list_1 ul:hover {
    display: block;
  }