.item {
    display: block;
    width: 80%;
    height: 100;
    padding: 8px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 6px -2px rgba(15,15,15, 0.5);
    -moz-box-shadow: 2px 2px 6px -2px rgba(15,15,15, 0.5);
    box-shadow: 2px 2px 6px -2px rgba(15,15,15, 0.5);
}

.item__title,
.item__content {
    position: relative;
    display: flex;
}

.item__title {
    margin: 6px 10px;
}

.item__title h3,
.item__title p {
    margin: 0;
    padding: 0;
}

.item__title h3 {
    margin-right: auto;
}

.item__title a {
    text-decoration: none;
    color: #2d841a;
}

.item__title a:hover {
    cursor: pointer;
    color: #6fe554;
    font-weight: bold;
}

.item__content_list {
    display: flex;
    margin: auto;
}

.item__content_list li {
    display: inline-block;
    text-align: center;
    margin: 2px 6px;
    padding: 3px 4px;
}

.OK,
.SMART,
.FAULT,
.NOT {
    padding: 0;
}


.OK li div {
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
}

.SMART li div {
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
}

.FAULT li div {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

.NOT li div {
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
}