.titulo {
    margin: 30px auto;
    text-align: center;
}

.fita {
    width: 40%;
    margin: 8% auto 0 auto;
}

.fita input[type=date],
.fita textarea {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 20px 2px;
    border: none;
    border-bottom: 2px solid blue;
    background: transparent;
}

.fita label {
    font-weight: bold;
}

.fita button {
    width: 135px;
    height: 40px;
    background: green;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(41, 49, 41);
    box-shadow: 3px 4px #ccc;
    border-radius: 6px;
    margin: 20px 5px;
}

.fita button:hover {
    color: green;
    background: white;
    cursor: pointer;
}

.fita span {
    text-align: center;
    color: red;
    display: block;
    margin: 10px 0;
}

.fita span:hover {
    color: blue;
    cursor: pointer;
}